body {
	font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}
body {
	background: #0b192f;
}
.header {
	grid-area: head;
	background: #024161;
}
.post-0 {
	position: relative;
	align-items: center;
	grid-area: post0;
	color: #ffffff;
}
.post-0 text {
	color: #ffffff;
	text-align: center;
	top: 35px;
}
.posts {
	grid-area: posts;
	color: #ffffff;
	text-align: left;
}
.posts p {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.posts span {
	font-size: 48px;
}
.news {
	grid-area: news;
	background: #ffffff;
}
.footer {
	grid-area: footer;
	background: #024161;
	color: #4f6b88;
}
@media screen and (max-width: 480px) {
	.grid {
		width: 100%;
		display: grid;
		grid-template-columns: auto 99% auto;
		grid-template-areas: ' . head .' ' . post0  .' '. posts  .' '. news . ' ' . footer .';
	}
	.header {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	.header .nav {
		display: none;
	}
	.tr::before {
		content: '\2630';
		color: #ffffff;
	}
	.tr {
		padding-top: 20px;
	}
	.tr p {
		font-weight: lighter;
		font-size: 24px;
		color: #ffffff;
	}
	.tr p span {
		color: #9d27b0;
	}
	.news {
		text-align: left;
	}
	.news p {
		padding-left: 30px;
		padding-right: 30px;
	}
	.news span {
		font-size: 26px;
	}
	.posts {
		flex-direction: column;
	}
	.post-0 {
		position: relative;
	}
	.post-0 span {
		font-size: 32px;
	}
	.post-0 .img {
		width: auto;
	}
	.post-0 .img .text {
		position: absolute;
		top: 200px;
	}
	img {
		width: 100%;
		height: auto;
	}
	.footer {
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	.footer p {
		margin: 0px;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	.grid {
		width: 100%;
		display: grid;
		grid-template-columns: auto 65% 35% auto;
		grid-template-areas: ' . head head .' ' . post0 post0  .' '. posts  news . ' '. posts  . . ' ' . footer footer .';
	}
	.header {
		display: flex;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	.header .nav {
		display: none;
	}
	.tr::before {
		content: '\2630';
		color: #ffffff;
	}
	.tr {
		padding-top: 20px;
	}
	.tr p {
		font-weight: lighter;
		font-size: 24px;
		color: #ffffff;
	}
	.tr p span {
		color: #9d27b0;
	}
	.news {
		margin-left: 20px;
		text-align: left;
	}
	.news p {
		padding-left: 30px;
		padding-right: 30px;
	}
	.news span {
		font-size: 26px;
	}
	.posts {
		display: flex;
		flex-direction: column;
	}
	.post-0 span {
		font-size: 32px;
	}
	.post-0 .img {
		width: auto;
	}
	img {
		width: 100%;
	}
	.news-1 {
		margin-bottom: 20px;
	}
	.news-2 {
		margin-bottom: 20px;
	}
	.footer {
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	.footer p {
		margin: 0px;
	}
}
@media screen and (min-width: 768px) {
	.grid {
		width: 100%;
		display: grid;
		grid-template-columns: auto 65% 35% auto;
		grid-template-areas: ' . head head . ' ' . post0 post0  .' '. posts  news . ' ' . posts .  .' ' . footer footer .';
	}
	.header {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	.button-nav {
		display: inline-flex;
		flex-direction: row;
		width: 100px;
		height: 50px;
		align-items: center;
		background: #003f61;
		justify-content: flex-end;
		border: 0px;
		color: #ffffff;
	}
	.button-nav:hover {
		background-color: #1f52a4;
	}
	.tr {
		width: 300px;
		padding-top: 20px;
	}
	.tr p {
		font-weight: lighter;
		font-size: 24px;
		color: #ffffff;
	}
	.tr p span {
		color: #9d27b0;
	}
	.news {
		margin-left: 20px;
		text-align: left;
	}
	.news p {
		padding-left: 30px;
		padding-right: 30px;
	}
	.news span {
		font-size: 26px;
	}
	.post-0 span {
		font-size: 32px;
	}
	.post-0 .img {
		width: 100%;
	}
	.posts {
		display: flex;
		flex-direction: column;
	}
	.post-1 {
		display: inline-flex;
	}
	.post-2 {
		display: inline-flex;
		flex-direction: row-reverse;
	}
	.post-3 {
		display: inline-flex;
	}
	.post-4 {
		display: inline-flex;
		flex-direction: row-reverse;
	}
	img {
		width: 100%;
	}
	.news-1 {
		margin-bottom: 20px;
	}
	.news-2 {
		margin-bottom: 20px;
	}
	.footer {display:flex;
                flex-direction: row;
                justify-content: space-between;
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	.footer p {
		margin: 0px;
	}
}
