@mixin button()
{position:absolute;
background:$buttonBg;
width:146px;
height:50px;
border-radius:3px;
font-weight:bold;
color:$textColorMain;
font-size:16px;
font-family:$font3;
border:0px;}
@mixin position($top,$left,$width,$height) 
{top:$top;
left:$left;
height:$height;
width:45px;}
@mixin textPosition($top, $left, $width) {
    top: $top;
    left: $left;
    width: $width;
}

body {
    background-color: $mainbBg;
}

.header {
    display: flex;
    background-image: url($background_image);
    background-size: cover;
    background-repeat: no-repeat;
    weight: 1920px;
    height: 720px;
    background-position-x: -50px;
    background-position-y: center;
    border-bottom-right-radius: 50em 29em;
}

.landing-logo {
    img {
        position: absolute;
        @include position(35px, 200px, 45px, 45px)
    }
    p {
        position: absolute;
        left: 250px;
        top: 10px;
        font-weight: bold;
        font-family: $font3;
        font-size: 24px;
        word-wrap: break-word;
        color: $textColor;
    }
    span {
        display: block;
        font-size: 10px;
        text-align: center;
        font-weight: normal
    }
}

.header_heading {
    position: absolute;
    font-weight: bold;
    font-size: 70px;
    color: $textColor;
    @include textPosition(79px, 200px, 500px);
    font-family: $font1;
}

.header_text {
    position: absolute;
    font-family: $font3;
    color: $textColor;
    @include textPosition(340px, 200px, 800px);
    white-space: pre-line;
}

.header_button {
    top: 510px;
    left: 200px;
    @include button();
}

.login {
    position: absolute;
    top: 520px;
    left: 500px;
    color: $textColorMain;
    width: 400px;
    height: 30px;
    font-family: $font1;
    font-size: 20px;
}

.section {
    margin-bottom: 230px;
}

.section_card {
    position: relative;
    display: flex;
    flex-direction: colomn;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    background: $sectionCardBG;
    height: 320px;
    margin-left: 503px;
    margin-right: 503px;
    border-radius: 3px;
}

.section_text {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: $font1;
    color: $textColor;
}

.section_card_heading {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.section_card_text {
    text-align: justify;
    top: 50px;
    width: 500px;
    color: $textColorMain;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    margin-right: 70px;
    padding: 10px;
}

.section_card_img {
    border-radius: 4px;
    width: 100%;
    height: 85%;
    float: left;
    margin: 20px;
}

.section_link {
    position: absolute;
    text-align: center;
    color: white;
    width: 500px;
}

.section_banner_button {
    @include button();
    left: 1100px;
    top: 45px;
}

.section_banner {
    position: absolute;
    background: linear-gradient(45deg, $leftColor, $rightColor);
    width: 1400px;
    height: 155px;
    left: 440px;
    top: 2020px;
}

.section_banner_heading {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 151px;
    top: -7px;
    font-family: $font1;
    color: $textColor;
}

.section_banner_text {
    position: absolute;
    color: $bannerColor;
    font-family: 'Fresca';
    font-size: 18px;
    left: 151px;
    top: 60px;
}

.footer {
    background-color: $footerBg;
    height: 250px;
    top: 2000;
}

.footer_logo {
    @extend .landing-logo;
    img {
        top: 2230px;
        left: 300px;
    }
    p {
        left: 360px;
        top: 2210px;
color:$textColorMain;
    }
}

.footer-cr {
    color: $textColorMain;
    text-align: center;
   
}

.footer_text {
    position: relative;
    color:$textColorMain;
    text-align: right;
    
    
}
