$background_image:"../img/m-h-day.jpg";
$sectionCardBG:#21232e;
$buttonBg:#699900;
$textColor:#2c2f3c;
$textColorMain:#ffffff;
$leftColor:#639315;
$rightColor:#406e96;
$footerBg:#21232e;
$mainbBg:white;
$font1:('Source Sans Pro', sans-serif);
$font3:('Hind', sans-serif);
$font2:('Fresca', sans-serif);
$bannerColor:#d1cebf;
$textlight:#14a0c7;

