$background_image:"../img/m-h-night.jpg";
$sectionCardBG:#3b3f50;
$buttonBg:#e3ac00;
$textColor:#ffffff;
$textColorMain:#ffffff;
$leftColor:#dfa603;
$rightColor:#932d53;
$footerBg:#3b3f50;
$mainbBg:#21232e;
$font1:('Source Sans Pro', sans-serif);
$font2:('Hind', sans-serif);
$font3:('Fresca', sans-serif);
$bannerColor:#d1cebf;
$textlight:#ff4e33;

